@import "components/angularjs-webapp/angularjs-webapp.css";
@import "components/gaia-ui-building-blocks/stable/headers.css";
@import "components/gaia-ui-building-blocks/stable/input_areas.css";
@import "components/gaia-ui-building-blocks/stable/buttons.css";
@import "components/gaia-ui-building-blocks/stable/switches.css";
@import "components/gaia-ui-building-blocks/unstable/lists.css";
@import "components/gaia-ui-building-blocks/unstable/progress_activity.css";
@import "components/photoswipe/release/3.0.3/photoswipe.css";
@import "drawer.css";
html,body{font:10px/1em "MozTT",Sans-serif;}
[data-type="list"] li.expanded{min-height:6rem;height:auto;}[data-type="list"] li.expanded p{white-space:normal;}
section[role="region"]>header:first-child>a[aria-disabled="true"],section[role="region"]>header:first-child>button[disabled]{opacity:0.5;}
section[role="region"]>header:first-child .icon.icon-search{background-image:url("images/icons/search.png");}
section[role="region"]>header:first-child .icon.icon-refresh{background-image:url("images/icons/refresh.png");}
section[role="region"]>header:first-child .icon.icon-gps{background-image:url("images/icons/gps.png");}
section[role="region"][data-type=sidebar] [role="main"]{background:none;}
[role="main"] p{font-size:1.6rem;line-height:2rem;margin:0.5rem 1rem;}
ul.categories{float:left;}ul.categories li{display:inline-block;list-style:none;margin-right:3px;}
#checkin ul.categories+h2{margin:10px 0;}#checkin ul.categories+h2 a{line-height:34px;display:block;}
#venue [role=main]>header{padding:0.5rem 1.5rem;clear:both;overflow:auto;}#venue [role=main]>header img,#venue [role=main]>header h1{float:left;}
#venue [role=main]>header h1,#venue [role=main]>header h2{float:right;margin-left:0.5rem;width:calc(100% - 44px - 0.5rem);line-height:1.6rem;margin-top:0;padding:0;}
#venue [role=main]>header h2{float:right;boder-bottom:0.1rem solid #e6e6e6;}
#home [role=main]{width:calc(100% - 2rem);}#home [role=main]>p{text-align:center;}
#home [role=main]>form{margin-top:5rem;text-align:center;}#home [role=main]>form input[type=image]{height:4rem;}
#home [th\:screen="$home"]{display:none;}
#search form p{margin:0;}#search form p:last-child{margin-top:1rem;}
#search button.locating .icon.icon-gps{transition:transform 0.2s;animation:rotate 5s linear 0s infinite normal;transform:rotate(0deg);}
@keyframes rotate{from{transform:rotate(0deg);} to{transform:rotate(360deg);}}#search .askingForLocationHint label,#search .askingForLocationHint button{text-decoration:underline;color:#0000ee;border:0;display:inline;background:none;height:auto;width:auto;padding:0;margin:0;vertical-align:bottom;font:inherit;}
#search ul aside img{width:40px;height:40px;margin-top:10px;}
#settings{z-index:0;}#settings.active+#home [th\:screen="$home"]{display:block;}
#settings.active+#home [th\:screen="#settings"]{display:none;}
#settings label:not([for]) input+span{left:3rem;line-height:2rem;}
#settings button{text-align:center;}
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none;}
