html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

section {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	background: white;
	transition: transform 0.2s;
	overflow: auto;
}

section#home {
	display: block;
	z-index: 0;
}

section.from-left {
	display: block;
	transform: translate(-100%,0);
}

section.from-right {
	display: block;
	transform: translate(100%,0);
}

section.current {
	display: block;
	z-index: 1;
	transform: translate(0,0);
}