html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

section[role=region] {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 0.2s;
	overflow: auto;
}

section[role=region] > header:first-child + [role=main], 
section[role=region] > header:first-child + progress + [role=main] {
	position: absolute;
	width: 100%;
	top: 5rem;
	bottom: 0;
	overflow: auto;
}

section[role=region]#home {
	z-index: 0;
}

section[role=region][data-viewport="left"] {
	transform: translateX(-100%);
}

section[role=region][data-viewport="right"] {
	transform: translateX(100%);
}

section[role=region][data-viewport="top"] {
	transform: translateY(-100%);
}

section[role=region][data-viewport="bottom"] {
	transform: translateY(100%);
}

section[role=region].active {
	z-index: 1;
	transform: translate(0,0);
}

section[role="region"] [role="main"] {
	background: white;
}